@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Share+Tech+Mono&display=swap");

/* Global styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Share Tech Mono", monospace;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #e7e7e7;
  background: rgb(19, 19, 19);
}

section {
  height: 100vh;
  display: grid;
  place-items: center;
}

.btn {
  /* margin: 0 9px; */
  background: rgba(3, 155, 155);
  border-radius: 2rem;
  color: #fafafa;
  display: inline-block;
  /* margin-top: 2rem; */
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  transition: background-color 650ms;
  font-weight: 500;
  letter-spacing: 2px;
}

/* Nav CSS */
.burger-button {
  cursor: pointer;
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(55, 55, 55, 0.5);
  padding: 1.2rem;
}

ul {
  list-style: none;
}

#side-bar {
  width: 15rem;
  height: 100vh;
  background-color: #222222;
  position: fixed;
  top: 0;
  left: -26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 998;
  transition: left 650ms ease-in-out;
}

#side-bar.active {
  left: 0;
}

/* About */
.about-content {
  margin: 0 10%;
  max-height: 65vh;
  max-width: 75%;
  display: flex;
  flex-direction: row;
}

#headshot {
  width: 280px;
  height: 280px;
  margin: auto 1.5rem;
  border-radius: 100%;
  /* box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

/* Projects */
.project-content {
  box-sizing: border-box;
  background: darkcyan;
  width: clamp(600px, 80%, 900px);
  min-height: 60vh;
}

.tab-buttons {
  width: 100%;
}

.tab-title {
  color: white;
  text-align: center;
  padding-top: 1.5rem;
}

.project-description {
  width: 80%;
  margin: 1.5rem auto;
}

.project-details {
  background-color: darkgreen;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: stretch;
}

.tools-used {
  flex-grow: 1;
  background-color: darkblue;
  padding: 2rem 0 0 3rem;
}

.project-slides {
  flex-grow: 1;
  background-color: red;
}

.slide-image {
  height: 140px;
  width: 140px;
} 

/* Media Queries */
@media only screen and (max-width: 600px) {
  /* About */
  #headshot {
    width: 140px;
    height: 140px;
    margin: 0 auto;
  }

  /* About */
  .about-content {
    margin: 0 10%;
    display: flex;
    flex-direction: column;
  }

  .project-content {
    box-sizing: border-box;
    width: 100%;
  }

  .project-details {
    background-color: darkgreen;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: stretch;
  }
}
