@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Share+Tech+Mono&display=swap");

/* Global styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100%;
  font-family: "Share Tech Mono", monospace;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #e7e7e7;
  background: rgb(19, 19, 19);
}

section {
  height: 100vh;
  display: grid;
  place-items: center;
}

/* Nav CSS */
.burger-button {
  cursor: pointer;
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(55, 55, 55, 0.5);
  padding: 1.2rem;
}

ul {
  list-style: none;
}

#side-bar {
  width: 15rem;
  height: 100vh;
  background-color: #222222;
  position: fixed;
  top: 0;
  left: -26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 998;
  transition: left 650ms ease-in-out;
}

#side-bar.active {
  left: 0;
}

/* About */
.about-content {
  margin: 0 10%;
  max-height: 65vh;
  width: min(75%);
  display: flex;
  flex-direction: row;
}

#headshot {
  width: 280px;
  height: 280px;
  margin: auto 1.5rem;
  border-radius: 100%;
  /* box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

/* Projects */
.project-content {
  box-sizing: border-box;
  width: clamp(600px, 70%, 900px);
  height: clamp(60vh, 70vh, 100vh);
}

.tab-buttons {
  width: 100%;
  height: 10%;
  display: flex;
  flex-flow: row nowrap;
}

.tab {
  margin: 0 .5rem;
  background: rgba(3, 155, 155);
  border-radius: 2rem;
  color: #fafafa;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  transition: background-color 650ms;
  font-weight: 500;
  letter-spacing: 2px;
}

.tab-content {
  height: 90%;
  display: flex;
  flex-flow: column nowrap;
}

.tab-title {
  text-align: center;
  margin: 1.5rem 0 1.5rem 0;
}

.project-description {
  flex: 1;
  width: 100%;
  padding: 0 4rem;
}

.project-details {
  display: flex; 
  flex-flow: row wrap;
}

.tools-used {
  width: 50%;
  padding: 2rem 0 0 3rem;
}

.project-slides {
  width: 50%;
}

.slide-image {
  height: 140px;
  width: 140px;
} 

/* Media Queries */
@media only screen and (max-width: 600px) {

  /* Landing */
  .landing-content {
    font-size: .75rem;
  }
  
  /* About */
  #headshot {
    width: 140px;
    height: 140px;
    margin: 0 auto;
  }

  /* About */
  .about-content {
    margin: 0 10%;
    display: flex;
    flex-direction: column;
  }

  /* Project */
  .tab-buttons{
    overflow-y: scroll;
  }

  .tab {
    margin: 0 9px;
    background: rgba(3, 155, 155);
    border-radius: 2rem;
    color: #fafafa;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    transition: background-color 650ms;
    font-weight: 500;
    letter-spacing: 2px;
  }

  .project-content {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
  }

  .tools-used {
    width: 100%;
    padding: 2rem 0 2rem 3rem;
  }
  
  .project-slides {
    width: 100%;
  }
}
